.swap-order-routing {
  width: 100%;

  .swap-order-header {
    margin-bottom: 18px;
  }

  .swap-order-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .swap-order-route-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;

    .swap-order-route-content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex: 1;
    }

    .swap-order-route-percent {
      margin-left: 20px;
    }

    .swap-order-token-icon {
      font-size: 0;
      z-index: 1;
      display: flex;
      text-align: center;
      align-items: center;
    }

    .currency-logo {
      line-height: 16px;
    }

    .swap-order-route-info {
      padding: 2px 6px;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      gap: 4px;
      background-color: #dee2e8;
      align-items: center;
      z-index: 1;
    }

    .swap-order-dot-line {
      position: absolute;
      top: 50%;
      border-top: 3px dotted #dee2e8;
      width: 100%;
      transform: translate3d(0, -50%, 0);
      z-index: 0;
    }
  }
}

.mobile-site-content {
  .swap-order-routing {
    .swap-order-route-wrap {
      .swap-order-route-percent {
        margin-left: 12px;
      }
    }
  }
}

.modal-content-wrap {
  padding: 20px;
  padding-top: 0;

  .swap-confirm-modal-btn {
    margin-top: 20px;
    width: 100%;
  }
}
