.awk-common-tool-tip {
  .common-question {
    display: flex;
    background-image: url('../../assets/icons/icon-question.svg');
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
  }
  &.ant-tooltip-open {
    .common-question {
      background-image: url('../../assets/icons/icon-question-hover.svg');
    }
  }
}

.common-tooltip {
  &.ant-tooltip {
    z-index: 10;
  }
  .ant-tooltip-arrow {
    &::before {
      background-color: #FFFFFF;
    }
  }
  .ant-tooltip-inner {
    padding: 12px 16px;
    background-color: #FFFFFF;
    color: #515A62;
    font-size: 12px;
    line-height: 18px;
    max-width: 300px;
    border-radius: 4px;
  }
}


.common-tooltip-error {
  .ant-tooltip-inner {
    padding: 8px 12px;
    background-color: rgb(228 53 85 / 16%);
    color: #FF496A;
    font-size: 12px;
    line-height: 18px;
  }
  .ant-tooltip-arrow-content {
    &::before {
      background: rgb(228 53 85 / 16%);
    }
  }
}