.awk-common-tool-tip {
  .common-question {
    display: flex;
    background-image: url('../../assets/icons/icon-question.svg');
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
  }
  &.portkey-trade-ant-tooltip-open {
    .common-question {
      background-image: url('../../assets/icons/icon-question-hover.svg');
    }
  }
}

.common-tooltip {
  &.portkey-trade-ant-tooltip {
    z-index: 10;
  }
  .portkey-trade-ant-tooltip-arrow {
    &::before {
      background-color: #ffffff;
    }
  }
  .portkey-trade-ant-tooltip-inner {
    padding: 12px 16px;
    background-color: #ffffff;
    color: #515a62;
    font-size: 12px;
    line-height: 18px;
    border-radius: 4px;
  }
}

.common-tooltip-error {
  .portkey-trade-ant-tooltip-inner {
    padding: 8px 12px;
    background-color: rgb(228 53 85 / 16%);
    color: #ff496a;
    font-size: 12px;
    line-height: 18px;
  }
}
