.first-letter {
  border-radius: 50%;
  background-color: #f7f8f9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #25272a;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #c5cbd5;
  &:not(:first-child) {
    margin-left: -4px;
  }
}
